<!DOCTYPE html>
<html>
<head>
    <title>Confirmation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>
Paiement validé
</h1>

<p>
Merci {{ nom }}, votre paiement simulé a été accepté.
</p>

<p>Commande numéro : {{ id_commande }}</p>
<p>Total payé : {{ total_panier }} €</p>
<p>Carte utilisée : **** **** **** {{ carte }}</p>

<a href="/client/{{ id_client }}">
Retour espace client
</a>

<br><br>

<a href="/">
Retour accueil
</a>

</body>
</html>
