<!DOCTYPE html>
<html>
<head>
    <title>Paiement</title>
</head>

<body>

<h1>Paiement</h1>

<form method="POST">

    <label>Nom titulaire</label>
    <input type="text" name="nom">

    <br><br>

    <label>Numéro carte</label>
    <input type="text" name="numero">

    <br><br>

    <label>Date expiration</label>
    <input type="text" name="expiration">

    <br><br>

    <label>CVV</label>
    <input type="text" name="cvv">

    <br><br>

    <button type="submit">
        Payer
    </button>

</form>

</body>
</html>